@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


:host {
    --lumo-base-color: #051014;
    --lumo-primary-color: #F66435;
    --lumo-body-text-color: rgb(255, 241, 208);
    --lumo-border-radius: 10px;
    font-family: 'Inter', sans-serif;
}

:root{
    font-size: 24px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden !important;
    background-color: #051014 !important;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 241, 208);
}

/* NEW LANDING PAGE */

.titulo1{
    position: relative;
    top: 1rem;
    font-size: 4rem;
    font-weight: bolder;
    color: #F66435;
}

.landing-graph-area {
    height: 50vh;
    width: 90vw;
    position: relative;
    margin: 0.5rem;
}

.landing-graph-area img {
    max-width: 100%;
    width: auto;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    left: 19rem;
}

.graph-image {
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}



.landing-criteria{
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.filters {
    width: 80vw;
    display: flex;
    flex-direction: row;
    height: 10vh;
    align-items: center;
    cursor: pointer;
}

.filters label{
    color: #F66435!important;
}

.dropdown-ilha{
    width: 40%;
    padding: 0.5rem;
    background-color: #0f1117;
    color: #FFF1D0 !important;
    border: 1px #F66435;
}

.dropdown-concelho{
    width: 40%;
    padding: 0.5rem;
    background-color: #0f1117;
    color: #FFF1D0 !important;
    border: 1px #F66435;
}

.dropdown-freguesia{
    border: 1px #F66435;

}

.botao-ver-grafo1 {

    margin-top: 1rem;
    background-color: #101621;
    color: #F66435;
    border: none;
    padding: 0.7rem 1.2rem;
    font-size: 1rem;
    cursor: pointer;
    width: 80%!important;
    transition: all 0.3s ease-in-out;
}

.botao-ver-grafo1:hover {
    color: white;
    background-color: #F66435;
    transform: translateY(-5px);
}

.prop-link{
    color: #F66435;
    text-decoration: underline;
    font-size: 0.6rem;
    font-stretch: extra-expanded;
}





/* LANDING PAGE */

.landing-view {
    background-color: #0f1117;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.conteudo-wrapper {
    position: relative;
    width: 70%;
    height: 100%;
    overflow: hidden;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.titulo {
    height: 10%;
    width: 100%;
    background-color: #0f1117;
    color: #fff1d0;
    margin: 2rem;
    font-size: 3rem;
    padding: 3rem 4rem;
    border: 1rem solid #F66435;
    border-radius: 3rem;
    cursor: pointer;
    transition: transform 0.7s ease-out;
    z-index: 2;
}

.titulo.slide {
    transform: translateY(-125%);
}



.conteudo-escondido {
    position: absolute;
    top: 40%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    z-index: 1;
}


.area-acoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.dropdown-freguesia {
    width: 40%;
    padding: 0.5rem;
    background-color: #0f1117;
    color: #FFF1D0;
}

#label-vaadin-combo-box-0{
    color: #FFF1D0;
}

.botao-ver-grafo {

    margin-top: 2rem;
    background-color: #F66435;
    color: white;
    border: none;
    padding: 0.7rem 1.2rem;
    font-size: 1rem;
    cursor: pointer;
}

/* TRADES PAGE */

vaadin-horizontal-layout {
    display: flex;
    height: 100vh;
}

div.info-div{
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    width: 100vw;
    height: 3rem !important;
    font-size: 1rem;
}

.info-span{
    height: 1rem;
    padding: 0.5rem;
}

vaadin-vertical-layout {
    padding: 0 !important;
    height: 100% !important;
}

graph-viewer {
    display: block !important;
    height: 100vh !important;
    width: 66.66vw !important;
    margin: 0 !important;
    border: none !important;
    flex: 2 !important;
    background-color: #051014;
}

leaflet-map-viewer {
    display: block !important;
    height: 100vh !important;
    width: 66.66vw !important;
    margin: 0 !important;
    border: none !important;
    flex: 2 !important;
    background-color: #051014;
}
/* LISTA */
vaadin-list-box {
    flex: 1 !important;
    height: 100vh !important;
    background-color: rgb(255, 241, 208);
    background-color: rgba(54, 47, 46, 0.41);
    overflow-y: auto;
    border-left: 2px solid #F6643540;
    /*border-left: 2px solid #F6643540;*/
}

/* Estilo dos itens */
vaadin-item {
    padding: 2rem 2rem;
    background-color: rgba(246, 100, 53, 0.08);
    color: #F66435;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.2s ease;
    cursor: pointer;
    backdrop-filter: blur(2px);
    font-family: 'Inter', sans-serif;
    border-radius: 0 !important;

    /* Em relação ao texto */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

vaadin-item:hover {
    background-color: rgba(246, 100, 53, 0.35);
    transform: scale(1.02);
}





vaadin-item[selected] {
    background-color: rgba(246, 100, 53, 0.25);
    font-weight: 600;
}

vaadin-horizontal-layout .trade-item{
    display: flex;
    height: 10vh !important;
    align-items: center;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
}

.trade-item:hover {
    background-color: rgba(246, 100, 53, 0.35);
    cursor: pointer;
}

.trade-item:active {
    background-color: rgba(246, 100, 53, 0.35);
    cursor: pointer;
}

.trade-item:focus {
    background-color: rgba(246, 100, 53, 0.35);
    cursor: pointer;
}

.trade-label{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}


.trade-grade{
    margin-right: 1.5rem;
    background-color: green;
    padding: 0.65rem;
    border-radius: 100%;
    font-weight: 1000;
    font-size: 0.8rem;
}


/* LOADING SCREEN */
.spinner {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #F66435;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}




@media (max-width: 1300px) {
    :root {
        font-size: 16px;
    }

    vaadin-item {
        padding: 1rem 2rem;
    }
}

